@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
    background-color: #2D2D2D;
    min-width: 320px;
    background-image: url("/bg.png");
    background-size: contain;
}

@media screen and (max-width: 900px) {
    html {
        background-image: url("/bgMob.png");
        background-size: cover;
    }
}
