@import "src/styles/global";

.header {

  .wrapper {
    @include maxWrapper();
    @include wrapper();

    .box {
      display: flex;
      justify-content: center;

      .img {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

    }
  }
}

.invite {
  @include maxWrapper();
  @include wrapper();
  @include text();
  position: relative;
  z-index: 10;

  .box {
    margin-top: 100px;
    text-align: center;
    svg {
      width: 280px;
    }
  }

  @media screen and (max-width: $small) {
    .box {
      margin-top: 40px;
      svg {
        width: 156px;
      }
    }
  }
}

.timer {
  @include maxWrapper();
  @include wrapper();
  @include text();
  @include paddingTop();

  .boxTimer {
    display: flex;
    justify-content: center;
    font-size: 35px;
    gap: 32px;

    div {
      font-family: "Poiret One", sans-serif;
      font-weight: 300;
      font-size: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      span {
        font-family: "Bellota", system-ui;
        font-weight: 700;
        font-size: 18px;
      }
    }

    @media screen and (max-width: $medium) {
      div {
        font-size: 24px;
        span {
          font-size: 12px;
        }
      }
    }
  }

  .inviteText {
    max-width: $secondWrapper;
    @include paddingTop();
    margin: auto;
    text-align: center;
    @include textSemi();
  }

  .date {
    @include paddingTop();
    text-align: center;
    max-width: $secondWrapper;
    margin: auto;
    h2 {
      @include h2();
      position: relative;

      span {
        position: relative;
        svg {
          position: absolute;
          bottom: -6%;
          left: 0;

          @media screen and (max-width: $medium) {
            display: none;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 80px;
  background-color: $cl-active;

  .wrapper {
    @include maxWrapper();
    @include wrapper();

    display: flex;
    flex-direction: column;

    .logo {
      padding: 40px 0;
      text-align: center;

      svg {
        width: 10%;
        path {
          fill: $bg;
        }

        @media screen and (max-width: $medium) {
          padding: unset;
          width: 30%;
        }
      }
    }
  }
}

.firstImage {
  max-width: 950px;
  margin: auto;

  img {
    margin: 140px auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: $medium) {
    img {
      margin: 40px auto;
    }
  }
}

.mainBlock {
  @include maxWrapper();
  @include wrapper();

  .box {

    border-radius: 22px;
    border: 3px solid rgba(98, 146, 175, 0.06);
    background: rgba(241, 241, 241, 0.88);

    .secondWrapper {
      padding: 56px 10px;
      max-width: $secondWrapper;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .text {
        text-align: center;
        h2 {
          @include h2();
          margin-bottom: 40px;
        }
        p {
          @include text();
        }
      }

      .secondImage {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .colors {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        h3 {
          @include h3();
        }
        .balls {
          display: flex;
          gap: 24px;

          .ball {
            width: 66px;
            height: 66px;
            background-color: #800000;
            border-radius: 50%;
          }
        }
      }

      .info {
        @include text();
        font-weight: 700;
        text-align: center;
        margin-top: 32px;
      }

      @media screen and (max-width: $medium) {
        gap: 24px;
        padding: 24px 10px;

        .text {
          h2 {
            margin-bottom: 24px;
          }
        }

        .colors {
          margin-top: 0;
          gap: 16px;
          .balls {
            gap: 8px;

            .ball {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
