@import "src/styles/global";

.header {

  .wrapper {
    @include maxWrapper();
    @include wrapper();

    .box {
      display: flex;
      justify-content: center;

      .img {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

    }
  }
}

.invite {
  @include maxWrapper();
  @include wrapper();
  @include text();
  position: relative;
  margin-top: -100px;
  z-index: 10;

  .box {
    background-color: $cl-active;
    max-width: 700px;
    padding: 10px 40px 30px 40px;
    margin: auto;

    h2 {
      @include h2();
      color: $bg;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      color: $bg;
    }
  }

  @media screen and (max-width: $small) {
    .box {
      padding: 10px 10px 30px 10px;
      h2 {
        margin-bottom: 10px;
      }
    }
  }
}

.timer {
  @include maxWrapper();
  @include wrapper();
  @include text();
  @include paddingTop();

  .box {
    display: flex;
    justify-content: center;
    font-size: 35px;

    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid $bgSecond;
    border-bottom: 1px solid $bgSecond;

    div {
      width: 20%;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    @media screen and (max-width: $medium) {
      padding-top: 30px;
      padding-bottom: 30px;
      div {
        width: 25%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
    @media screen and (max-width: $small) {
      div {
        font-size: 25px;
      }
    }
  }
}

.info {
  @include maxWrapper();
  @include wrapper();
  @include text();

  &.reverse {
    .box {
      .blocks {
        flex-direction: row-reverse;

        .img {
          padding: 30px 30px 30px 0;
          justify-content: flex-end;

          @media screen and (max-width: $medium) {
            display: none;
          }
        }
      }
    }
  }

  .box {
    @include paddingTop();

    .blocks {
      background-color: $bgSecond;
      display: flex;

      .img {
        width: 40%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 30px 0 30px 30px;

        img {
          height: 100%;
          width: 80%;
          object-fit: contain;
        }
      }

      .infoBlock {
        flex: 1;
        padding: 50px 30px;
        color: $bg;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          @include h2();
          color: $bg;
        }

        iframe {
          padding-top: 30px;
        }
      }

      @media screen and (max-width: $medium) {
        flex-direction: column;

        .img {
          width: 100%;
          padding: unset;
          padding-top: 20px;
          justify-content: center;
        }

        .infoBlock {
          padding: 20px;
        }
      }
    }
  }
}

.footer {
  margin-top: 80px;
  background-color: $cl-active;

  .wrapper {
    @include maxWrapper();
    @include wrapper();

    display: flex;
    flex-direction: column;

    .logo {
      padding: 40px 0;
      text-align: center;

      svg {
        width: 10%;
        path {
          fill: $bg;
        }

        @media screen and (max-width: $medium) {
          padding: unset;
          width: 30%;
        }
      }
    }
  }
}

.textBlock {
  @include maxWrapper();
  @include wrapper();

  .wrapper {
    @include paddingTop();
    @include text();

    max-width: 60%;
    margin: auto;

    .box {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
      border-top: 1px solid $bgSecond;
      border-bottom: 1px solid $bgSecond;

      h2 {
        @include h2();
        margin: 0 0 10px 0;
      }

      span {
        font-weight: bold;
      }
    }

    @media screen and (max-width: $medium) {
      max-width: 90%;

      .box {
        padding-top: 30px;
        padding-bottom: 30px;
      }

    }
  }
}
